# RabbitMQ credentials
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=<пароль>

# PostgreSQL credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<пароль>
POSTGRES_DB=ml_practice_db

# Redis password
REDIS_PASSWORD=<пароль>